{% extends "index.html" %}

{% block head %}

<title>Add Inventory Page</title>

{% endblock %}

{% block body %}
<body>
    <div class="container">
        <strong><nav>
          <ul class="menu">
            <li  style="display:inline;"><a href="{{ url_for('main') }}">Home</a></li>
            <li  style="display:inline;"><a href="{{ url_for('add_inventory') }}">Add Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('delete_inventory') }}">Delete Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_inventory') }}">Change Inventory Counts</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_specifications') }}">Change Specifications</a></li>
          </ul>
        </nav></strong>
      </div>
<h1> Please fill in the selected information below and click "Submit" to create a new item in inventory. </h1>

<div class="grid-container">
        <div class="grid-child" style="border:solid 2px; padding: 20px;">
            <h1 style="text-align: center">Please fill in the following specifications</h1>
            <form action="add_inventory" method="POST">
                <label for="itemNumber">Item Number:</label>
                <input type="number" id="itemNumber" name="itemNumber"><br><br>

                <label for="prodDescrip">Product Description:</label>
                <input type="text" id="prodDescrip" name="prodDescrip"><br><br>

                <label for="weight">Shipping Weight (in pounds):</label>
                <input type="number" id="weight" name="weight" step="0.1"><br><br>

                <label for="length">Shipping Length (in inches):</label>
                <input type="number" id="length" name="length" step="0.01"><br><br>

                <label for="width">Shipping Width (in inches):</label>
                <input type="number" id="width" name="width" step="0.01"><br><br>

                <label for="height">Shipping Height (height):</label>
                <input type="number" id="height" name="height" step="0.01"><br><br>

                <label for="invCount">Initial Inventory Count:</label>
                <input type="number" id="invCount" name="invCount"><br><br>

                <input type="submit" value="Submit New Inventory Item">
            </form>
        </div>
</div>
</body>

{% endblock %}
