{% extends "index.html" %}

{% block head %}

<title>Update Inventory Counts</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$$(document).ready(function(){
             $("button").click(function(){
              $("#div1").load("demo_test.txt");
                  });
                });
		</script>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <strong><nav>
          <ul class="menu">
            <li  style="display:inline;"><a href="{{ url_for('main') }}">Home</a></li>
            <li  style="display:inline;"><a href="{{ url_for('add_inventory') }}">Add Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('delete_inventory') }}">Delete Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_inventory') }}">Change Inventory Counts</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_specifications') }}">Change Specifications</a></li>
          </ul>
        </nav></strong>
      </div>
    <h1> Change Item Specifications Using the Selector Below: </h1>


    <div class='container'>
		<h3>Choose an item from this list to modify:</h3>

        <form action="modify_inventory" method="POST">
        <select name="inventory_select" id="inventory_select">
                    {% for item in data %}
                    <option value="{{item}}">{{ item }}</option>
                    {% endfor %}
        </select>
            <!---<a href=# id=process_input>---><button class='btn btn-default'>Submit</button><!--</a>-->
        </form>
        <p id=result></p>
    </div>









{% endblock %}
