{% extends "index.html" %}

{% block head %}

<title>Update Inventory Counts</title>

{% endblock %}

{% block body %}
<body>
    <div class="container">
        <strong><nav>
          <ul class="menu">
            <li  style="display:inline;"><a href="{{ url_for('main') }}">Home</a></li>
            <li  style="display:inline;"><a href="{{ url_for('add_inventory') }}">Add Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('delete_inventory') }}">Delete Item</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_inventory') }}">Change Inventory Counts</a></li>
            <li  style="display:inline;"><a href="{{ url_for('update_specifications') }}">Change Specifications</a></li>
          </ul>
        </nav></strong>
      </div>
<h1> This page is going to have update_inventory feature </h1>

</body>

{% endblock %}
